<!DOCTYPE html>
<html>
    <head>
        <!-- link is an empty element (no clising tag); relationship; href = path to the file-->
        <title>About</title>
        <link rel="icon" href="/img/weather.png">
        <link rel="stylesheet" href="/css/styles.css">
    </head>
    <body> <!--Alles, was am Bildschirm angezeigt werden soll-->
        <div class="main-content">
            {{> header }}
            <img class="portrait" src="/img/pia.jpg">
        </div>

        {{> footer }}
    </body>
</html>
 <!-- <h1>{{ title }} {{ name }}</h1> -->