<header><!--division-->
    <h1>{{ title }}</h1> <!--Wert für title wird bei allen 3 Seiten in app.js übergeben-->

    <a href="/">Weather</a><!--Route-->
    <a href="/about">About</a>
    <a href="/help">Help</a>
</header>